<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wesleyreisz.todos" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Widget.AppCompat.Light.ActionBar" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TodoDetailActivity" >
        </activity>
        <provider
            android:name=".MyTodoContentProvider"
            android:authorities="com.wesleyreisz.todos.contentprovider" >
        </provider>
    </application>

</manifest>
